
Scraping/__pycache__/funcion_scrap_equipos.cpython-39.pyc
App Contador/controllers/__pycache__/time_counter.cpython-310.pyc
App Contador/controllers/__pycache__/pounds_counter.cpython-310.pyc
App Contador/__pycache__/scrapper.cpython-310.pyc
App Contador/views/__pycache__/time_counter.cpython-310.pyc
